name: Add team labels

on:
  pull_request:
    types: opened

jobs:
  label-by-team:
    runs-on: ubuntu-latest
    steps:
    - name: Add team labels for author of pull request
      uses: actions/github-script@v7
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        script: require('.github/scripts/add-team-label.js')
