name: Add team labels

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label-by-team:
    runs-on: ubuntu-latest
    steps:
    - name: Add team labels for author of pull request
      uses: actions/github-script@v7
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        script: |
          console.log({ pull_request });
          return
          const { organization, pull_request, repository, sender } = context.payload;
          const org = repository.owner.login;
          console.log({ org });
          const allTeams = await github.paginate(github.rest.teams.list({ org }));
          console.log({ allTeams });
          return
          console.log({ organization });
          console.log({ sender });
          console.log({ github });
          return
          const username = context.payload.pull_request.user.login;
          // const org = context.repo.owner;
          
          // const allTeams = await github.paginate(context.repo.teams_url);
          console.log({ allTeams });
          
          const labels = [];
          for (const team of allTeams) {
            const team_slug = team.slug;
            const membership = await github.rest.teams.getMembershipForUserInOrg({
              org,
              team_slug,
              username
            });
            if (membership.data.state === "active") {
              labels.push(team_slug);
            }
          }
          
          if (labels.length > 0) {
            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels
            });

            console.log(`Adding team labels: ${labels.join(", ")}`);
          }
